In [6]:
!kaggle datasets download -d meowmeowmeowmeowmeow/gtsrb-german-traffic-sign

Downloading gtsrb-german-traffic-sign.zip to /home/user01/repo/experiments/codes
100%|█████████████████████████████████████████| 612M/612M [11:03<00:00, 964kB/s]
100%|█████████████████████████████████████████| 612M/612M [11:03<00:00, 968kB/s]

In [8]:
import pandas as pd

In [9]:
train_df = pd.read_csv('/home/user01/gtsrb/Train.csv')
test_df = pd.read_csv('/home/user01/gtsrb/Test.csv')
meta_df = pd.read_csv('/home/user01/gtsrb/Meta.csv')

In [10]:
train_df.head()

,Width,Height,Roi.X1,Roi.Y1,Roi.X2,Roi.Y2,ClassId,Path
0,27,26,5,5,22,20,20,Train/20/00020_00000_00000.png
1,28,27,5,6,23,22,20,Train/20/00020_00000_00001.png
2,29,26,6,5,24,21,20,Train/20/00020_00000_00002.png
3,28,27,5,6,23,22,20,Train/20/00020_00000_00003.png
4,28,26,5,5,23,21,20,Train/20/00020_00000_00004.png

In [11]:
meta_df.head()

          Path  ClassId  ShapeId  ColorId SignId
0  Meta/27.png       27        0        0   1.32
1   Meta/0.png        0        1        0   3.29
2   Meta/1.png        1        1        0   3.29
3  Meta/10.png       10        1        0   3.27
4  Meta/11.png       11        0        0   1.22